# Supabase Configuration
SUPABASE_URL=https://vhqdyvutfeipfcpxypos.supabase.co
SUPABASE_KEY=sb_publishable_VJUI07YXPLbDWF3AsuoMLg_pNg78Ksh

# Flask Configuration
FLASK_SECRET_KEY=generate-a-random-secret-key
FLASK_DEBUG=True
FLASK_PORT=5000

# Live Recognition
CAMERA_ID=CAM01
CAMERA_DEVICE_ID=0
FACE_MATCH_THRESHOLD=0.4